
html {
    scroll-behavior: smooth;
  }
  
  
  @mixin setScrolltopColors($bgColor: #000, $arrowColor: white, $bgColorHover: $bgColor, $arrowColorHover: $arrowColor) {
    #scrolltop-bg {
      fill: $bgColor;
    }
    #scrolltop-arrow {
      fill: $arrowColor;
    }
    a:hover {
      #scrolltop-bg {
        fill: $bgColorHover;
      }
      #scrolltop-arrow {
        fill: $arrowColorHover;
      }
    }
  }
  
  .scrolltop-wrapc{
    $size: 3rem;
    $offsetBottom: 2rem;
    $offsetHorizontal: 2rem;
    $scrollToRevealDistance: 12rem; // scroll offset to reveal scroll-to-top link
    $color: #06659B;
    box-sizing: border-box;
    position: absolute;
    top: 120%;
    right: $offsetHorizontal;
    bottom: 0;
    pointer-events: none;
    backface-visibility: hidden;
    @include setScrolltopColors($color, white, lighten($color, 8%));
    // prevent extra page height if content is smaller than viewport
    // Firefox only
    @supports (-moz-appearance: meterbar) {
      clip: rect(0, $size, auto, 0);
    }
    a {
      $offset: - ($size + $offsetBottom); // pull up + add a small bottom space
      position: fixed; // fallback
      position: sticky;
      top: $offset;
      width: $size;
      height: $size;
      margin-bottom: $offset;
      transform: translateY(100vh); // push to bottom from top (when stuck)
      backface-visibility: hidden;
      display: inline-block;
      text-decoration: none;
      user-select: none;
      pointer-events: all;
      outline: none;
      overflow: hidden;
      svg {
        display: block;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        path {
          transition: all 0.1s;
        }
      }
      #scrolltop-arrow {
        transform: scale(0.66);
        transform-origin: center;
      }
    }
    @media print {
      display: none !important;
    }
  }
  
  // presentation styles
  
  html {
    overflow-y: scroll;
    overflow-x: hidden;
    &::before {
      content: "";
      display: block;
      backface-visibility: hidden;
      position: fixed;
      top: 0;
      right: -5px;
      bottom: 0;
      left: -5px;
      
       
      background-size: cover;
      filter: brightness(1.14) blur(2px);
    }
  }
  @media screen and (max-width: 721px) {
    html {
      font-size: 84%;
      &::before {
        background: #eff0f2;
      }
    }
    .container {
      padding: 1rem 1.5rem 2rem;
    }
    h1 {
      font-size: 2.2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h1,
    h2,
    h3,
    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
  